doctype html
html
  head
    meta(charset='utf-8')      
    title Apollo
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css")
  body
    h1 Alice in Wonderland
    h2 Memory Game
    
    #container
      #controls
        button#start Start
        p#timer 60
      #cardsholder
      #belowcardsholder
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
